  <div class="toast" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
<div class="row rounded-lg overflow-hidden shadow mt-5 mb-5">
  <div class="col-12 px-0">
    <div class="bg-white">
      <div class="bg-primary px-4 py-2">
        <p class="h5 mb-0 py-1 text-white">Recent Conversation</p>
      </div>
      <div class="messages-box">
        <div class="list-group rounded-0">
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id%>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id)%>
              <% else %>
                <% recipient = User.find(conversation.sender_id)%>
              <% end %>
              <% unless current_user.id == recipient.id %>
                  <%= link_to conversation_read_path(conversation), class:"list-group-item list-group-item-action list-group-item-light rounded-0", method: :put do %>
                    <div class="media">
                    <% if recipient.avatar.present? %>
                      <img src="<%= url_for(recipient.avatar)%>" alt="user" width="50" class="rounded-circle">
                    <% end %>
                    <div class="media-body ml-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="mb-0"><%= recipient.fullname%>
                            <% if notification_message(conversation.id) > 0%>
                              <div class="badge badge-primary">
                                <%= notification_message(conversation.id)%>
                              </div>
                            <% end %>
                            </h6>
                        <% if  conversation.messages.last.present? %>          
                          <small class="small font-weight-bold"><%= time_ago_in_words(conversation.messages.last.created_at) %></small>
                        <% end %>
                        </div>
                        <% if  conversation.messages.last.present? %>          
                          <p class="font-italic mb-0 text-small"><%= conversation.messages.last.body%></p>
                        <% end %>
                    </div>
                    </div>
                  <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
    