<div class="card mt-2 card-index-tweets">
  <div class="row col-md-5 mt-3">
    <div class="col-3">
      <% if @tweeet.user.avatar.present? %>
        <div class="user-image-tweeet">
          <%= image_tag @tweeet.user.avatar %>
        </div>
      <% end %>
    </div>
    <div class="col-9">
      <%= link_to  user_path(@tweeet.user.id), class: "text-decoration-none text-dark" do %>
        <strong><%= @tweeet.user.fullname %></strong><br>
      <% end %>
      <small>@<%= @tweeet.user.username %></small>
    </div>
  </div><hr>
  <div class="card-body">
    <%= @tweeet.tweeet %><br><br>
    <% if @tweeet.tweeet_image.present? %>
      <div class="mb-3 tweeet-image">
        <%= image_tag(@tweeet.tweeet_image) %>
      </div>
    <% end %><br>
    <small class="text-secondary text-right"><%= time_ago_in_words(@tweeet.created_at) %> ago</small><br><hr>
    <div class="d-flex justify-content-between px-2 mt-3">
      <span>
      <% if user_signed_in? %> 
        <% if @tweeet.liked?(current_user)%>
          <%= link_to unlike_path(@tweeet), method: :delete do %> <%= fa_icon "heart" %><%end%>
        <% else %>
          <%= link_to like_path(@tweeet), method: "put",class:"text-dark" do %> <%= fa_icon "heart" %><%end%>
        <% end %>
      <% end %>
        &nbsp&nbsp <%= @tweeet.likes.count%></span>
      <span><%= fa_icon "retweet" %> &nbsp&nbsp 0</span>
      <span>
                  <%= link_to tweeet_path(@tweeet),class: "text-decoration-none" do%>
                    <%= fa_icon "comments" %>
                  <%end%> &nbsp&nbsp <%= @tweeet.comments.count%>
                </span>
    </div>
  </div>
</div><br>
  <hr>
<div>
  <div class="card-body mb-5">
    <div class="row d-flex justify-content-center mb-5">
      <div class="col">
        <div class="headings d-flex justify-content-between align-items-center mb-3">
          <h3>Comments</h3>
        </div>
        <%= form_for([@tweeet,@comment]) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, rows: 3, class: "form-control", placeholder: "Please enter a comment", autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
        <% @tweeet.comments.order(created_at: :desc).each do |comment| %>
          <% if comment.body.present? %>
            <div class="card p-3 mb-2 shadow">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center"> 
                  <% if comment.user.avatar.present? %>
                    <img src="<%= url_for(comment.user.avatar)%>" width="30" class="user-img rounded-circle mr-2">
                  <%end%>
                  <span><small> <%= link_to user_path(comment.user),class:"font-weight-bold text-primary" do %> <%= comment.user.fullname %><%end%></small></span> </div> <small> <%= time_ago_in_words(comment.created_at) %> ago</small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <small class="font-weight-bold px-4"> <%= comment.body %></small>
                  <div class="reply px-4 d-flex justify-content-between"> 
                    <span>
                      <% if current_user == comment.user %>
                        <%= link_to "delete", destroy_comment_path(@tweeet, comment_id: comment.id),method: :delete , class: "btn btn-danger btn-sm"%>
                      <% end %>
                    </span>
                  </div> 
                </div>
              </div>
           <% end %>
        <% end %>
        </div>
        
    </div>

</div>