<div class="row mt-4">
  <div class="col-md-5">
    <div class="card card-index mb-3 shadow">
      <div class="card-header">
          <h4>Profile</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <% if @user.avatar.present? %>
              <div class="user-image-dash">
                <%= image_tag @user.avatar %>
              </div>
            <% end %>
          </div>
          <div class="col-8">
            <strong><%= @user.fullname %> </Strong><br>
            <small>@<%= @user.username%></small>
          </div>
        </div><br><br s>
        <%= link_to "Follow", tweeets_path, class: "btn btn-primary" %>
      </div>
      <hr>
      <div class="ml-5 mr-5 mb-3">
        <div class="d-flex justify-content-between">
          <strong>Tweets</strong>
          <strong>Following</strong>
          <strong>Followers</strong>
        </div>
        <div class="d-flex justify-content-between">
          <span><%= current_user.tweeets.count%></span>
          <span>323</span>
          <span>1.4m</span>
        </div>
      </div> 
    </div> 
  </div>
    <div class="col-md-7">
    <div class="p-3">
      <% @tweeets.each do |tweeet| %>
      <div class="mb-2">
        <div class="card p-4 mt-2 card-index-tweets">
        <div class="row col-md-8">
          <div class="col-3">
            <% if tweeet.user.avatar.present? %>
              <div class="user-image-tweeet">
                <%= image_tag tweeet.user.avatar %>
              </div>
            <% end %>
          </div>
          <div class="col-9">
            <strong><%= tweeet.user.fullname %></strong><br>
            <small>@<%= tweeet.user.username %> - <span class="text-secondary mb-0"><%= time_ago_in_words(tweeet.created_at) %> ago</span></small>
          </div>
        </div><hr>
            <%= link_to tweeet_path(tweeet), class: "text-decoration-none text-dark" do %>
                  <div class="card-body">
                  <%= tweeet.tweeet %><br><br>
                  <% if tweeet.tweeet_image.present? %>
                      <div class="mb-3 tweeet-image">
                      <%= image_tag(tweeet.tweeet_image) %>
                      </div>
                  <% end %><br><hr>
                  <div class="d-flex justify-content-between mt-3">
                      <span><%= fa_icon "heart" %> &nbsp&nbsp 33</span>
                      <span><%= fa_icon "retweet" %> &nbsp&nbsp 24</span>
                      <span><%= fa_icon "comments" %> &nbsp&nbsp 43</span>
                      <%= fa_icon "share" %>
                  </div>
                  </div>
              </div>
            <% end %>
        
        <hr>
      </div>
    <% end %>
    </div>
  </div>
  
</div>