<div class="row mt-5">
  <div class="col-md-9">
    <div>
      <% @tweeets.each do |tweeet| %>
        <div class="mb-4">
          <div class="card p-4 card-index-tweets">
            <div class="row col-md-5">
              <div class="col-4">
                <% if tweeet.user.avatar.present? %>
                  <div class="user-image-tweeet">
                    <%= image_tag tweeet.user.avatar %>
                  </div>
                <% end %>
              </div>
              <div class="col-8">
                <% if user_signed_in?%>
                  <% if tweeet.user == current_user %> 
                    <%= link_to  tweeets_path, class: "text-decoration-none text-dark" do %>
                      <strong><%= tweeet.user.fullname %></strong><br>
                    <% end  %>
                  <% else %>
                    <%= link_to  user_path(tweeet.user.id), class: "text-decoration-none text-dark" do %>
                      <strong><%= tweeet.user.fullname %></strong><br>
                    <% end  %>
                  <% end %> 
                <% else %>
                  <%= link_to  user_path(tweeet.user.id), class: "text-decoration-none text-dark" do %>
                    <strong><%= tweeet.user.fullname %></strong><br>
                  <% end  %> 
                <% end %> 
                <small>@<%= tweeet.user.username %> - <span class="text-secondary mb-0"><%= time_ago_in_words(tweeet.created_at) %> ago</span></small><br>
              </div>
            </div><hr>
            <%= link_to tweeet_path(tweeet), class: "text-decoration-none text-dark" do %>
              <div class="card-body">
                <%= tweeet.tweeet %><br><br>
                <% if tweeet.tweeet_image.present? %>
                  <div class="mb-3 tweeet-image">
                    <%= image_tag(tweeet.tweeet_image) %>
                  </div>
                <% end %>
              </div><hr>
            <% end %>
              <div class="d-flex justify-content-between px-2">
                <span>
                  <% if user_signed_in? %> 
                    <% if tweeet.liked?(current_user)%>
                      <%= link_to unlike_path(tweeet), method: :delete  do %> <%= fa_icon "heart" %><%end%>
                    <% else %>
                      <%= link_to like_path(tweeet), method: :put,class:"text-dark" do %> <%= fa_icon "heart" %><%end%>
                    <% end %>
                  <% end %>
                    &nbsp&nbsp <%= tweeet.likes.count%></span>
                <span><%= fa_icon "retweet" %> &nbsp&nbsp 0</span>
                <span>
                  <%= link_to tweeet_path(tweeet),class: "text-decoration-none" do%>
                    <%= fa_icon "comments" %>
                  <%end%> &nbsp&nbsp <%= tweeet.comments.count%>
                </span>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-index mb-3 shadow">
      <div class="card-header">
        <h4>Who to follow</h4>
      </div>
      <div class="card-body">
      <% @user.each do |user| %>
      <%= link_to  user_path(user.id), class: "text-decoration-none text-dark" do %>
        <div class="card card-user mb-3 p-2">
          <div class="row">
            <div class="col-2">
              <% if user.avatar.present? %>
                <div class="user-image">
                  <%= image_tag user.avatar %>
                </div>
              <% end %>
            </div>
            <div class="col-10">
              <strong><%= user.fullname  %></strong><br>
              <small class="text-secondary mt-0">@<%= user.username  %></small>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>